/* .container{
    display: grid;
    width: 100%;
    grid-template-areas: "nav"
                         "jumbotron"
                         "artist"
                         "events"
                         "footer";
    grid-template-rows: 50px 2fr 3fr 1fr  50px;
} */

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,.6);
    grid-template-areas: repeat (auto-fit, minmax(200px, 1Fr));
    height: 45px;
}

/* NAVBAR */

input#menu{
    display: none;
}

nav{
    /* padding: 20px; */
}

nav a{
    display: block;
    text-decoration: none;
    padding: 10px;
}

nav label{
    display: block;
    cursor: pointer;
    /* padding: 20px 0 20px 60px; */

}

nav label{
    margin: auto;
}

/* TOGGLE EFFECT */

.menu-content{
    max-height: 0;
    overflow: hidden;
}

input:checked~ .menu-content{
    max-height: 100%;
}

/* //NAVBAR */

.logo img{
    width: 150px;
    display: inline-block;
    justify-content: space-around;
}

.jumbotron {
    grid-template-areas: repeat (auto-fit, minmax(200px, 1Fr));
    background: #5C535C
}
.jumbotron img{
  width: 100%
}

.artists {
    grid-template-areas: repeat (auto-fit, minmax(200px, 1Fr));
    background-color: #5C535C;
}
.artists img{
  width: 100%;
}

.events{
    grid-template-areas: repeat (auto-fit, minmax(200px, 1Fr));
    background-color: #5C535C;
}
.events img{
  width: 100%;
}

.footer{
    grid-template-areas: repeat (auto-fit, minmax(200px, 1Fr));
    background: #0FF;
}
