@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

 ol, ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}
img{width: 100%;}


/* algunas clases atomicas de utilidad */
.d-flex{display: flex; flex-wrap: wrap;}
.d-column{flex-direction: column;}
.justify-content-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}


/* fin clases atomicas */

.navbar {
  width: 100%;
  height: 50px;
  background: #e3e3e3;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  /* overflow: hidden; */
}


.contenedor{
  width: 98%;
  margin:auto;
}
/* h1 {
  float: left;
} */
header .contenedor{
  display: grid;
  grid-template-columns: repeat(12,1fr);
}
section{
  width: 100%;
  margin-bottom: 25px;
}
.banner{
  background-image: url(../images/fiesta.jpg);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.artistas{
  text-align: center;
}
.eventos{
  text-align: center;
}

.banner-button{
  white-space:normal;
  display: block;
  color: #fff;
  height: 50px;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  margin-top: 10px;
  border: 3px solid #fff;
}
.navlink{
  display: block;
  color: #89bdd3;
  height: 50px;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu li, ul{
  list-style: none;
}
.banner-button:hover{
  background: rgba(255,255,255,0.3);
}






/* MENU ¨*/
#menu-bar {
  display: none;
}

.icon-menu{
  font-size: 28px;
  margin-left: 6px 0;
  cursor: pointer;
  align-self: center;
  grid-column:  -1;
}

.logo{
  max-width: 160px;
}

.menu{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(227,227,227,0.9);
  transition: all 0.5s;
  transform: translateX(-100%);
}



 #menu-bar:checked ~ .menu{
   transform: translateX(0%);
 }


/* BANNER */
#banner {
  margin-top: 50px;
  position: relative;
}
#banner img{
  width: 100%;
  height: 100%;
}
#banner .contenedor{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
}
#banner h2 {
  font-size: 28px;
}





/* ARTISTAS */
#artistas .contenedor{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#artistas article{
  margin-left: 15px;
}
#artistas img{
  width: 100%;
  max-width: 280px;
}
#artistas h4{
  text-align: center;
  display: flex;
  max-width: 280px;
}
#artistas p{
  text-align: center;
  display: flex;
  max-width: 280px;
}




/* EVENTOS */
#eventos .contenedor{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#eventos article{
  margin: 20px;
}

#eventos img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 7px solid #fff;
}

#eventos h4{
  text-align: center;
  max-width: 280px;
}
#eventos{
  background: #9ad3de;
  padding: 20px;
  text-align: center;
  color: #fff;
}


/* FOOTER */
.foot{
  font-size: 20px;
  color: #89bdd3;
}
footer .contenedor{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 25px;
}
.sociales{
  width: 100%;
  text-align: center;
  font-size: 28px;
}
.sociales a{
  color: #89bdd3;
  text-decoration: none;
}


.menu li, ul{
  list-style: none;
}

/*Agregador por Rodrigo para PERFIL.PHP..*/
.perfil-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.avatar{
  display: flex;
  align-items: center;
  width: 250px;
  height: 250px;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 3px -3px  rgba(0,0,0,0.6);
  overflow: hidden;
}
 .avatar-img{
   width: 150%;
 }

/* Fin de agregado por rodrigo */

.avatarLogo{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 5px;
  grid-column:  1/3;
}

/* Aplico margin top a todos los main para que queden por abajo del navbar que esta en position fixed  */
main{margin-top: 50px;}

/*LOGIN Y REGISTER*/

/* la idea de form main es un main que solo tiene un form seteado al centro de la pagina */
.error-message{
  font-style: italic;
  color: #d7011c;
  font-size: 0.8em;
  width: 80%;
  display: block;
}


.form-main{

  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-form{
  margin: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 15px;
}


.form-field{
  width: 80%;
  margin:10px;
  height: 30px;
}
.form-footer{
  display: flex;
  margin-top: 15px;
  font-size: 0.8em;
}

.submit{
  column-span:2;
}
.field-block{
  display: flex;
  flex-direction: column;
}

/* /LOGIN   */

/* FAQ */
.faq{
  padding: 20px;
}

.answer{
  display: none;
  font-size: 1.2em;
}
.question{
  background: none;
  font-size: 1.5em;
  font-weight: normal;
  border: none;
  color: #89bdd3;
 }


/* MEDIA QUERYS */

@media(min-width:480px){
  #banner h2{
    font-size: 40px;
  }
  .banner-button{
    margin-top: 25px;
  }
}

@media (min-width:768px){
  .sociales{
    width: auto;
  }
  footer .contenedor{
    justify-content: space-between;
  }
}

@media (min-width:1024px){
  .contenedor{
    width: 1100px;
  }
  .menu{
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0%);
    display: flex;
    grid-column:  -1/-5;
  }
  .menu ul{
    display: flex;
  }
  header label{
    display: none;
  }
  .menu a{
    border: none;
  }
  .menu a:hover{
    background: rgba(255,255,255,0.3);
  }
  .welcome{
    height: 80vh;
    width: 80vw;
  }
}
